@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
  url('/fonts/open-sans-v29-latin_cyrillic-300.woff2') format('woff2'),
  url('/fonts/open-sans-v29-latin_cyrillic-300.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('/fonts/open-sans-v29-latin_cyrillic-regular.woff2') format('woff2'),
  url('/fonts/open-sans-v29-latin_cyrillic-regular.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
  url('/fonts/open-sans-v29-latin_cyrillic-600.woff2') format('woff2'),
  url('/fonts/open-sans-v29-latin_cyrillic-600.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('/fonts/open-sans-v29-latin_cyrillic-500.woff2') format('woff2'),
  url('/fonts/open-sans-v29-latin_cyrillic-500.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('/fonts/open-sans-v29-latin_cyrillic-700.woff2') format('woff2'),
  url('/fonts/open-sans-v29-latin_cyrillic-700.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local(''),
  url('/fonts/open-sans-v29-latin_cyrillic-800.woff2') format('woff2'),
  url('/fonts/open-sans-v29-latin_cyrillic-800.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local(''),
  url('/fonts/open-sans-v29-latin_cyrillic-300italic.woff2') format('woff2'),
  url('/fonts/open-sans-v29-latin_cyrillic-300italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
  url('/fonts/open-sans-v29-latin_cyrillic-italic.woff2') format('woff2'),
  url('/fonts/open-sans-v29-latin_cyrillic-italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  src: local(''),
  url('/fonts/open-sans-v29-latin_cyrillic-500italic.woff2') format('woff2'),
  url('/fonts/open-sans-v29-latin_cyrillic-500italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local(''),
  url('/fonts/open-sans-v29-latin_cyrillic-600italic.woff2') format('woff2'),
  url('/fonts/open-sans-v29-latin_cyrillic-600italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local(''),
  url('/fonts/open-sans-v29-latin_cyrillic-700italic.woff2') format('woff2'),
  url('/fonts/open-sans-v29-latin_cyrillic-700italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local(''),
  url('/fonts/open-sans-v29-latin_cyrillic-800italic.woff2') format('woff2'),
  url('/fonts/open-sans-v29-latin_cyrillic-800italic.woff') format('woff');
}

